click==7.1.2
docutils==0.15.2
itsdangerous==1.1.0
jmespath==0.10.0
lxml==4.5.0
MarkupSafe==1.1.1
mypy==0.770
mypy-extensions==0.4.3
patool==1.12
Pillow==7.1.2
python-dateutil==2.8.1
python-dotenv==0.13.0
python-pptx==0.6.18
rarfile==3.1
six==1.14.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
untangle==1.2.1
urllib3==1.25.9
Werkzeug==1.0.1
XlsxWriter==1.2.8
xmltodict==0.12.0
